main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.outer{
    height: 500px;
    width: 350px;
    text-align:center;
    background-color: rgb(205, 50, 171);

}
button{
    background-color: aqua;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    filter: brightness();

}
button:hover{
    background-color: blanchedalmond;
}
.dis{
    text-align: right;
    height: 50px;
    width: 250px;
}
body{
    background-color: rgb(255, 255, 251);
}
h1{
    display:flex;
    justify-content: center;
    align-items: center;
}

